<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>SwapX</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
</head>
<body>
  <section class="logo-area">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div id="logo">
                      <h2><a href="/">SwapX</a></h2>
                  </div>
              </div>
              <div class="col-md-5">
                  <div class="logo-menu text-right">
                      <ul class="list-unstyled list-inline">
                          <li class="list-inline-item"><a href=""></a></li>
                          <li class="list-inline-item">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                              Sign Up
                            </button>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="cart-box text-right">
                      <div class="shopping-cart text-left">
                          <div class="cart-btn">
                              <a href="">
                                <i class="fa fa-random fa-2x"></i>
                                <span>2</span>
                              </a>
                          </div>
                          <div class="cart-body">
                              <div class="cart-content d-flex flex-row justify-content-between">
                                  <div class="cart-img">
                                      <a href=""><img src="" alt="" class="img-fluid"></a>
                                  </div>
                                  <div class="cart-disc">
                                      <h6><a href="">Woocommerce Template</a></h6>
                                  </div>
                              </div>
                              <div class="cart-content d-flex flex-row justify-content-between">
                                  <div class="cart-img">
                                      <a href=""><img src="" alt="" class="img-fluid"></a>
                                  </div>
                                  <div class="cart-disc">
                                      <h6><a href="">Woocommerce Template</a></h6>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <%- if current_user -%>
                      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "sign-btn" %>
                      <%- else -%>
                      <%= link_to 'Sign In', new_user_session_path, :class => "sign-btn" %>
                      <%- end -%>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="main-menu">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="">Bootstrap Templates <i class="fa fa-angle-down"></i></a>
                            <ul class="list-unstyled pri-dropdown">
                                <li><a href="">Free Templates</a></li>
                                <li><a href="">Premium Templates</a></li>
                                <li><a href="">New Templates</a></li>
                                <li><a href="">On Sale Templaes</a></li>
                            </ul>
                        </li>
                        <li class="list-inline-item"><a href=""></a></li>
                        <li class="list-inline-item"><a href=""></a></li>
                        <li class="list-inline-item"><a href="">Js</a></li>
                        <li class="list-inline-item"><a href=""></a></li>
                        <li class="list-inline-item dropdown-block"><a href="">Pages <i class="fa fa-angle-down"></i></a>
                            <ul class="list-unstyled mega-menu">
                                <li>
                                    <a href="01-home-one.html">Home One</a>
                                    <a href="02-home-two.html">Home Two</a>
                                    <a href="03-about-us.html">About Us</a>
                                    <a href="04-product-grid-one.html">Product Grid One</a>
                                    <a href="05-product-grid-two.html">Product Grid Two</a>
                                </li>
                                <li>
                                    <a href="06-product-grid-three.html">Product Grid Three</a>
                                    <a href="07-product-details.html">Product Details</a>
                                    <a href="08-profile.html">Profile</a>
                                    <a href="09-log-in.html">Log In</a>
                                    <a href="10-sign-up.html">Sign Up</a>

                                </li>
                                <li>
                                    <a href="11-upload-product.html">Upload Product</a>
                                    <a href="12-404.html">404</a>
                                    <a href="13-faq.html">Faq</a>
                                    <a href="14-coming-soon.html">Coming Soon</a>
                                    <a href="15-contact.html">Contact</a>
                                </li>
                                <li>
                                    <a href="16-cart.html">Cart</a>
                                    <a href="17-checkout.html">Checkout</a>
                                    <a href="18-blog-full.html">Blog Full</a>
                                    <a href="19-blog-sidebar.html">Blog Sidebar</a>
                                    <a href="20-blog-details.html">Blog Details</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <form class="search-box text-right" action="#">
                    <input type="text" name="text" placeholder="Search Here" required="">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
