<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>SwapX</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
</head>
<body>
  <section class="logo-area">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div id="logo">
                      <h2><a href="/">SwapX</a></h2>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="logo-menu text-right">
                      <ul class="list-unstyled list-inline">
                          <li class="list-inline-item"><a href=""></a></li>
                          <li class="list-inline-item">
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="cart-box text-right">
                      <div class="shopping-cart text-left">
                          <div class="cart-btn">
                              <a>
                                <i class="fa fa-random fa-2x cart-icon"></i>
                                <% item_count = 0 %>
                                <% @items.each do |item| %>
                                  <% if item.offered_item != nil %>
                                    <% item_count += 1 %>
                                  <% end %>
                                <% end %>
                                <span class="cart-span"> <%= item_count %> </span>
                              </a>
                          </div>
                          <div class="cart-body">
                            <% if current_user %>
                              <% @items.each do |item| %>
                              <div class="cart-content d-flex flex-row justify-content-between">
                                      <% if item.offered_item != nil %>
                                        <div class="cart-img">
                                          <a href="/items/<%= item.offered_item.id %>"><img src=<%= item.offered_item.photo.url %> class="img-fluid"></a>
                                        </div>
                                        <div class="cart-disc">
                                        <h6><a href="/items/<%= item.offered_item.id %>"><%= item.offered_item.title %></a></h6>
                                        <h5>Status: <%= item.offered_for_trade.status %> </h5>
                                        </div>
                                      <% end %>
                              </div>
                              <% end %>
                            <% else %>
                              <div class="cart-content d-flex flex-row justify-content-between">
                                  <div class="cart-disc">
                                      <h6><a href="">No Items</a></h6>
                                  </div>
                              </div>
                            <% end %>
                          </div>
                      </div>
                      <%- if current_user -%>
                      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "sign-btn" %>
                      <%- else -%>
                      <%= link_to 'Sign In', new_user_session_path, :class => "sign-btn" %>
                      <%- end -%>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="main-menu">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="">My Items<i class="fa fa-angle-down"></i></a>
                            <ul class="list-unstyled pri-dropdown">
                                <% if current_user %>
                                  <% if @items.empty? %>
                                    <li><a>No Items</a></li>
                                  <% end %>
                                  <% @items.each do |item| %>
                                    <li><a href="/items/<%= item.id %>"><%= item.title %></a></li>
                                  <% end %>
                                <% else %>
                                  <li><a>No Items</a></li>
                                <% end %>
                            </ul>
                        </li>
                        <li class="list-inline-item"><a href=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
              <%= form_for "/items", method: "GET", :html => { class: 'search-box text-right' } do |f| %>
                  <div>
                    <%= f.text_field :search, placeholder: "Location or Category" %>
                  </div>
                  <div>
                    <%= button_tag(type: "submit") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </div>
              <% end %>
            </div>
        </div>
    </div>
</section>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
