<!DOCTYPE html>
<html>
<head>
  <title>swapx</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
<<<<<<< HEAD
      <h2 class="logo-text"><a href="/">swapX</a></h2>
=======
      <h2 class="logo-text"><a href="/">SwapX</a></h2>
>>>>>>> d9dc4fa8f2613f5154ff3e86ced6c0f330f5c8eb
      <div class="row">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item nav-link">
            <%= link_to 'My Profile', "/" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to 'New Item', items_new_path %>
          </li>
        </ul>
      </div>
      <div>
        <ul class="navbar-nav text-right">
          <%- if current_user -%>
          <li class="nav-item mr-auto">
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "nav-link" %>
          </li>
          <%- else -%>
          <li class="nav-item btn btn-primary btn-sm sign-btns">
            <%= link_to 'Sign Up', new_user_registration_path, :class => "nav-link" %>
          </li>
          <li class="nav-item btn btn-primary btn-sm sign-btns">
            <%= link_to 'Sign In', new_user_session_path, :class => "nav-link" %>
          </li>
          <%- end -%>
        </ul>
      </div>
    </div>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
